<section class="container">
  <h2 class="titulo">Lista de Gêneros</h2>
  <table class="tabela">
    <thead class="tabela__cabecalho">
      <!-- <th class="tabela__cabecalho__conteudo">ID</th> -->
      <th class="tabela__cabecalho__conteudo">Gênero</th>
    </thead>
    <tbody>
      <tr class="tabela__linha"
        *ngFor="let genero of generos"
        [routerLink]="['/genero', genero.id]"
        >
        <!-- <td class="tabela__conteudo"> {{ genero.id }} </td> -->
        <td class="tabela__conteudo"> {{ genero.gender }} </td>
    </tr>
    </tbody>
  </table>
</section>
