<section class="container" *ngIf="filmes.length > 0">
  <h2 class="titulo">Lista de Filmes</h2>
  <table class="tabela">
    <thead class="tabela__cabecalho">
      <!-- <th class="tabela__cabecalho__conteudo">ID</th> -->
      <th class="tabela__cabecalho__conteudo">Código de Barras</th>
      <th class="tabela__cabecalho__conteudo">Título</th>
      <th class="tabela__cabecalho__conteudo">Duração</th>
      <th class="tabela__cabecalho__conteudo">Classificação</th>
      <th class="tabela__cabecalho__conteudo">Gênero</th>
    </thead>
    <tbody>
      <tr class="tabela__linha"
        *ngFor="let filme of filmes"
        [routerLink]="['/filme', filme.id]" >
        <!-- <td class="tabela__conteudo"> {{ filme.id }} </td> -->
        <td class="tabela__conteudo"> {{ filme.codebar }} </td>
        <td class="tabela__conteudo"> {{ filme.title }} </td>
        <td class="tabela__conteudo"> {{ filme.duration }} </td>
        <td class="tabela__conteudo"> {{ filme.rating }} </td>
        <td class="tabela__conteudo"> {{ filme.gender }} </td>
    </tr>
    </tbody>
  </table>
</section>
