<h2>Detalhes do Filme</h2>

<div * ngIf="filme">
  <h3>{{ filme.codebar }} </h3>
  <h3>{{ filme.title }} </h3>
  <h3>{{ filme.duration }} </h3>
  <h3>{{ filme.rating }} </h3>
  <h3>{{ filme.gender }} </h3>
</div>

<!---
<section class="container">
    <h2 class="formulario__titulo">Detalhes do Filme</h2>

    <div class="form-field">
      <label class="form-field__label" for="id">ID</label>
      <input class="form-field__input" id="id" type="number" name="id" [value]="id" readonly>
    </div>

    <div class="form-field">
      <label class="form-field__label" for="codebar">Código de Barras</label>
      <input class="form-field__input" id="codebar" type="number" name="codebar" [value]="codebar" readonly>
    </div>

    <div class="form-field">
      <label class="form-field__label" for="title">Título</label>
      <input class="form-field__input" id="title" type="text" name="title" [value]="title" readonly>
    </div>

    <div class="form-field">
      <label class="form-field__label" for="duration">Duração</label>
      <input class="form-field__input" id="duration" type="number" name="duration" [value]="duration" readonly>
    </div>

    <div class="form-field">
      <label class="form-field__label" for="rating">Classificação</label>
      <input class="form-field__input" id="rating" type="number" name="rating" [value]="rating" readonly>
    </div>

    <div class="form-field">
      <label class="form-field__label" for="gender">Gênero</label>
      <input class="form-field__input" id="gender" type="text" name="gender" [value]="gender" readonly>
    </div>
</section>
-->
