
/*
Fixa o rodapé
*/
:host {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  padding: 0px !important;
}

header {
  background-color: var(--primary);
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
}
