/* You can add global styles to this file, and also import other style files */
@import "~materialize-css/dist/css/materialize.css";
@import "~material-icons/iconfont/material-icons.css";

:root {
  --primaryColor: green;
}

body,
html {
  background-color: #ededed !important;
}

hr {
  width: 20% !important;
  border-bottom-color: var(--primaryColor);
  border-width: medium;
}
